@media screen and (max-width: 1200px) {
    container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    .header-icons {
        display: none;
    }

    nav {
        position: relative;
        width: 100%;
    }

    .burger-button {
        width: 40px;
        height: 40px;
        box-shadow: 1px 1px 5px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: auto;
        position: relative;
        overflow: hidden;
    }

    .burger-line {
        width: 100%;
        height: 5px;
        background: #000000;
        position: absolute;
    }

    .menu {
        display: block;
        position: fixed;
        box-shadow: 0 0 12px;
        padding: 20px;
        border-radius: 20px 0 0 20px;
        background: #fff;
        top: 0;
        left: 0;
        height: 100vh;
        width: 30%;
        padding-top: 100px;
    }

    .navigation.active .burger-line {
        top: calc(50%-3px);
    }

    .navigation.active .one {
        transform: rotate(45deg);
    }

    .navigation.active .two {
        display: none;
    }

    .navigation.active .three {
        transform: rotate(-45deg);
    }

    .navigation.active .menu {
        right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        padding-right: 0;
        padding-left: 0;
    }

}
