@media screen and (max-width: 1255px) {
    .puppy-donation-image {
        order: 1;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        max-width: 100%;
    }

    .first-section-main {
        flex-wrap: wrap;
    }

    .first-section-main {
        gap: 20px;
    }
}


@media screen and (max-width: 656px) {
    .small-animal-img {
        order: 1;
    }
}
