@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background: #F9F9F9;
    width: 1920px;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

header {
    margin-top: 80px;
    display: flex;
    flex-flow: row nowrap;
    gap: 42px;
    justify-content: start;
    margin-left: 400px;
}

.header-item {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

h1 {
    font-weight: 500;
    font-size: 48px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
}

h3 {
    font-weight: 500;
    font-size: 21px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
}

.first-section {
    margin-top: 162px;
    margin-left: 400px;
    width: 740px;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 60px;
}

.contact-me-button {
    width: 225px;
    height: 65px;
    background: #34547A;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.about-me-section {
    margin-top: 250px;
    align-self: center;
    width: 540px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
}

.numbers-section {
    margin-top: 100px;
    background: #34547A;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 45px;
    padding: 100px 0;
}

.number-element {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    color: white;
}

.video-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.video-text {
    text-align: center;
    width: 540px;
}

.video {
    background-color: red;
    width: 1100px;
    height: 600px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
}

footer {
    margin-top: 100px;
    background: #34547A;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.copyright {
    font-size: 13px;
    font-weight: 400;
}
