@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header {
    width: 100%;
    padding: 22px 165px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 120px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.menu {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.menu a {
    color: rgba(31, 46, 53, 0.8);
    font-size: 18px;
}

.drop-menu {
    padding-right: 21px;
    position: relative;
}

.drop-menu::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 9px;
    background: url("../images/chevron_down.svg");
    right: 0px;
    top: 7px;
    transition: 0.2s;
}

.drop-menu:hover.drop-menu::before {
    transform: rotate(180deg);
}

.header-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.first-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 17px;
    padding: 51px 158px 100px;
}

.first-section-content h2 {
    color: #1F2E35;
    font-size: 48px;
    font-weight: 700;
    line-height: 64.17px;
    text-align: left;
}

.first-section-content h5 {
    max-width: 520px;
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.25px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #30444E;
}

.first-section-content {
    flex-basis: 40%;
    width: 550px;
    max-width: 565px;
    gap: 31px;
}


.red {
    color: #EE4248;
}

.read-more a {
    color: white;
    padding: 12px 32px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 0px #00000040;
    background: #EE4248;
}

.read-more {
    margin-top: 52px;
    display: flex;
}

.first-section-content>.read-more>a {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.94px;
    text-align: left;
}

.second-section {
    background: #F6F6F6;
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    width: 100%;
    padding: 0 100px;
}

.second-section-content {
    flex-basis: 40%;
    padding-top: 77px;
    display: flex;
    flex-flow: column nowrap;
}

.second-section-content h2 {
    color: #1F2E35;
    font-size: 32px;
    font-weight: 500;
    line-height: 42.78px;
    text-align: left;
    max-width: 454px;
}

.second-section-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #30444E;
    max-width: 520px;
}

.third-section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 96px 157px 87px;
}

.third-section h2 {
    color: #1F2E35;
    font-size: 32px;
    font-weight: 500;
    line-height: 42.78px;
    text-align: center;
}

.columns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 9px;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    max-width: 363px;
    align-items: start;
}

.column h2 {
    color: #EE4248;
    font-size: 28px;
    font-weight: 500;
    line-height: 37.43px;
    text-align: left;
}

.column p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #30444E;
    max-width: 319px;
}

.fourth-section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 47px;
    padding: 0 157px 13px;
}

.fourth-section div {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.fourth-section>div>img {
    max-width: 119px;
    margin-top: -30px;
}

.fourth-section h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    color: #263238;
}


.fourth-section h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    color: #263238;
}

.fourth-section h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 26.85px;
    text-align: left;
    color: #263238;
}

.footer {
    width: 100%;
    background: #EE4248;
    color: white;
    text-align: center;
    padding: 22px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}

.bold {
    font-weight: 500;
}
